@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: zen-kaku-gothic-new, sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.show {
  animation: fadeIn 0.35s linear forwards;
}

.hide {
  animation: fadeOut 0.3s linear forwards;
}

.activate {
  animation: activate 0.35s linear forwards;
}

.deactivate {
  animation: deactivate 0.35s linear forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes activate {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes deactivate {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    pointer-events: none;
  }
}
